.blog-page {
  .blog-list {
    --blog-list-spacing: 30px;
    --blog-list-columns: 1;
    margin-left: calc(-1 * var(--blog-list-spacing));
    margin-bottom: calc(-1 * var(--blog-list-spacing));

    .blog-item {
      width: calc(calc(100% / var(--blog-list-columns)) - var(--blog-list-spacing));
      margin-left: var(--blog-list-spacing);
      margin-bottom: var(--blog-list-spacing);
    }

    @media (min-width: 600px) {
      --blog-list-columns: 2;
    }

    @media (min-width: 1024px) {
      --blog-list-columns: 3;
    }
  }

  .blog-shape {
    svg {
      width: calc(260% + 1.3px);
      transform: translateX(-50%) rotateY(180deg);
      z-index: -1;
      position: relative;
      left: 50%;
      overflow: hidden;
      display: block;
      height: 50px;
      fill: #fff;

      @media (min-width: 768px) {
        height: 195px;
      }
    }
  }
}
