.cart-page {
  .cart-container {
    --cart-spacing: 30px;
    margin-left: calc(-1 * var(--cart-spacing));

    .cart-left {
      width: calc(70% - var(--cart-spacing));
      margin-left: var(--cart-spacing);
    }

    .cart-right {
      width: calc(30% - var(--cart-spacing));
      margin-left: var(--cart-spacing);
    }
  }
}
