.account-page {
  .col-login {
    .title {
      margin-bottom: 20px;
      font-size: 26px;
      font-weight: 700;
      color: #161616;
    }

    form {
      display: flex;
      flex-direction: column;

      .form-group {
        label {
          margin-bottom: 5px;
          font-weight: 400;
          color: #404144;

          span {
            color: red;
          }
        }

        input {
          padding: 0 15px;
          max-width: 100%;
          width: 100%;
          height: 40px;
          border: 1px solid #0000001a;
          border-radius: 4px;
          background-color: #00000000;
          box-shadow: none;
          font-size: 14px;
          outline: none;
        }
      }

      .form-footer {
        display: flex;
        justify-content: space-between;

        .form-group {
          display: flex;
          flex-direction: row;

          input {
            height: 30px;
            margin-right: 8px;
            padding: 0;
            width: 14px;
          }

          label {
            height: auto;
            line-height: 25px;
            cursor: pointer;
          }
        }

        a {
          height: 30px;

          &:hover {
            color: #ff5e2b;
            text-decoration: underline;
          }
        }
      }
    }
  }

  .col-register {
    .title {
      margin-bottom: 20px;
      font-size: 26px;
      font-weight: 700;
      color: #161616;
    }

    form {
      display: flex;
      flex-direction: column;

      .form-group {
        margin-bottom: 20px;
        display: flex;
        flex-direction: column;

        label {
          margin-bottom: 5px;
          font-weight: 400;
          color: #404144;

          span {
            color: red;
          }
        }

        input {
          padding: 0 15px;
          max-width: 100%;
          width: 100%;
          height: 40px;
          border: 1px solid #0000001a;
          border-radius: 4px;
          background-color: #00000000;
          box-shadow: none;
          font-size: 14px;
          outline: none;
        }
      }

      p {
        margin-bottom: 20px;
        font-size: 15px;
      }
    }
  }

  .col-register-text {
    text-align: center;

    .title {
      margin-bottom: 20px;
      font-size: 26px;
      font-weight: 700;
      color: #161616;
    }

    .info {
      margin-bottom: 20px;
      font-size: 16px;
      line-height: 1.5;
    }
  }
}
